.products {
    padding: 50px 0px;
}

.productImages img {
    width: 15%;
}

.discount {
    position: absolute;
    left: 0%;
    color: white;
    background-color: #DC2626;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
}

.productContent h2 {
    color: #030712;
}

.productContent p {
    color: #4B5563;
    font-size: 14px;
}

.productInfo {
    border-bottom: 1px solid #E5E7EB;
}

.productInfo span {
    font-size: 13px;
    color: #030712;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 3px 5px;
    font-weight: bold;
}

.priceDiscount {
    color: #DC2626;
    font-size: 25px;
    font-weight: bold;
}

.realPrice {
    color: #111827;
    font-size: 20px;
    text-decoration: line-through;
}

.whatsOrder {
    background-color: #16A34A;
    width: fit-content;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 8px;
}

.quantity {
    border: 1px solid #D1D5DB;
    border-radius: 6px;

}

.quantity button {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 20px;
}

.cart {
    background-color: #DB4444;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

.cart:disabled,
.buy:disabled {
    background-color: #9CA3AF;
}

.cart,
.buy{
    color: white;
    font-size: 14px;
}


.directions {
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    width: 90%;
}

.directions p {
    font-size: 13px;
}

.directions .paymentDirections {
    padding: 10px 15px;
    gap: 25px;
}

.directions .safeDirections {
    border-top: 1px solid #E5E7EB;
    padding: 10px 15px;
    gap: 25px;
}

.choiceBorder {
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    padding: 10px;
}

.reviews {
    width: calc((100% - 16px) / 3);
}

.review {
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    padding: 10px;
    width: 660px;
}

.review p {
    color: #4B5563;
}

.reviewUser span:nth-child(2) {
    font-size: 13px;
}


.reviewButton{
    background-color: #DB4444;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
@media (max-width: 992px) {
    .product {
        flex-direction: column;
    }

    .reviews {
        width: calc((100% - 16px) / 2);
    }
}

@media (max-width: 768px) {

    .reviews {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .payment {
        flex-direction: column;
        align-items: start !important;
    }
   .productDescription{
    font-size: 13px;
   }
}
@media (max-width: 576px) {
  
   .productDescription{
    font-size: 11px;
   }
}
