.photo{
    padding: 30px 0px;
}

.photo img{
    width: 150px;
    height: 150px;
}
.button{
    background-color: #DB4444;
    color: white;
    padding: 10px 15px;
    border-radius: 9px;
    text-align: center;
    border: none;
}
.button:disabled{
    background-color: #9CA3AF;
}