@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: var(--mainFont);
}

a {
    text-decoration: none;
}

:root {
    --mainFont: 'Inter', sans-serif;
}